{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user == null %}
        <section id="intro">
            <div class="intro-text">
                <h2>Welcome to Workout Posse</h2>
                <p>We are team of people who do sports! Come and join us!</p>
                <a href="#features" class="btn-get-started scrollto">Download</a>
            </div>
        </section>
        <main id="main">
            <section id="features">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-4">
                            <div class="section-header wow fadeIn" data-wow-duration="1s">
                                <h3 class="section-title">Product Featuress</h3>
                                <span class="section-divider"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 features-img">
                            <img src="img/product-features.png" alt="" class="wow fadeInLeft">
                        </div>
                        <div class="col-lg-8 col-md-7 ">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="icon"><i class="ion-help"></i></div>
                                    <h4 class="title">Why download?</h4>
                                    <p class="description">Download our app and join us! Be part of a big team made up
                                        of people who do many different types of sports. Find out what other people do,
                                        find something for yourself and enjoy!</p>
                                </div>
                                <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="icon"><i class="ion-android-download"></i></div>
                                    <h4 class="title">Download here!</h4>
                                    <p class="description">Here you can download our app on one click of a button! After
                                        that register and enjoy!</p>
                                    <a class="btn btn-info" href="{{ path('download_app') }}">Download App</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    {% else %}
        <section id="intro">
            <div class="intro-text">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title text-secondary">Workout days</h3>
                                    <p class="card-text text-secondary">Here you can see your progress in workout days!</p>
                                    <p class="card-text text-dark">{{ calendarCount }} {% if calendarCount > 1 %}days{% else %}day{% endif %} since you registered {{ userRegistrationDate|date('d.m.Y.') }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title text-secondary">Rest days</h3>
                                    <p class="card-text text-secondary">Here you can see your current rest day!</p>
                                    <p class="card-text text-dark">{{ restDay }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
