<h2>Hello, {{ receiveUsername }}!</h2>

Someone needs your help!<br><br>

{{ senderUsername }} wants to contact you and to ask you a few questions about workout, healthy food etc.<br><br>

Please, send them an email at this address {{ senderMail }} and let them know they can contact you directly.<br><br>

Thanks!<br><br><br>

Best regards,<br>
<h3>Workout Posse Team</h3>
