<h2>Welcome, {{ username }}!</h2>

You're successfully registered!<br><br>

Now, you're a proud member of Workout Posse and we're proud to have you around!<br><br>

Most important thing is to start having fun right away!<br><br>

Thanks for your registration!<br><br><br>

Best regards,<br>
<h3>Workout Posse Team</h3>
