<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
        <title>
            {% block title %}Workout Posse{% endblock %}
        </title>
        {% block stylesheets %}
            <!-- Favicons -->
            <link href="{{ asset('img/logo.png') }}" rel="icon">

            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

            <!-- Bootstrap CSS File -->
            <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Libraries CSS Files -->
            <link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
            <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
            <link href="{{ asset('lib/magnific-popup/magnific-popup.min.js') }}" rel="stylesheet">

            <!-- Main Stylesheet File -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header id="header">
            <div class="container">

                <div id="logo" class="pull-left">
                    <h1><a href="#intro" class="scrollto">Workout Posse</a></h1>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{{ path('home_page') }}">Home</a></li>
                        {% if app.user == null %}
                            <li><a href="{{ path('download_app') }}">Download App</a></li>
                            <li><a href="{{ path('app_login') }}">Login</a></li>
                        {% else %}
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                            {% endif %}
                            <li><a href="{{ path('download_app') }}">Download App</a></li>
                            <li><a href="{{ path('logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-lg-left text-center">
                        <div class="copyright">
                            &copy; Copyright <strong>Workout Posse {{ "now"|date('Y') }}</strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- #footer -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        {% block javascripts %}
            <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('lib/jquery/jquery-migrate.min.js') }}"></script>
            <script src="{{ asset('lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('lib/easing/easing.min.js') }}"></script>
            <script src="{{ asset('lib/wow/wow.min.js') }}"></script>
            <script src="{{ asset('lib/superfish/hoverIntent.js') }}"></script>
            <script src="{{ asset('lib/superfish/superfish.min.js') }}"></script>
            <script src="{{ asset('lib/magnific-popup/magnific-popup.min.js') }}"></script>

            <!-- Contact Form JavaScript File -->
            <script src="{{ asset('contactform/contactform.js') }}"></script>

            <!-- Template Main Javascript File -->
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
